<h2>Welcome {{name}}</h2>
<img src="{{profile_pic}}">
<br>
<a href="{{url}}">My website.... </a> <a href="{{email}}">and my email </a>
<h3>Favorite Cheese:</h3><p>{{favorite_cheese}}</p>
<h3>Relationship Status:</h3><p>{{relationship_status}}</p>